.navbarWrapper {
	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;
	top: 0;
	width: 100vw;

	background-color: #fff;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.navbarContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;

	max-width: 1080px;
	width: 100%;
	padding: 15px;
}
.leftWrapper {
	display: flex;
	gap: 10px;
	cursor: pointer;
}
.navbarContainer h1 {
	display: flex;
	align-items: center;

	margin: 0;
	font-size: 16px;
	font-weight: 600;
}
.logoContainer {
	display: flex;
	align-items: center;
	width: 20px;
}

.rightWrapper {
	display: flex;
	gap: 20px;
}
.rightWrapper h2 {
	font-size: 14px;
	font-weight: 400;
	text-transform: capitalize;
	margin: 0;
	cursor: pointer;
}