.btn {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 9px;
	width: 30px;
	height: 30px;
	
	font-size: 16px;
	background: #ffffff;
	color: #fff;

	border: none;
	border-radius: 8px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);

	cursor: pointer;
}
