.pageWrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;

	margin-top: 50px;
	max-width: 1080px;
	width: 100%;
	padding: 0 20px;
}

/* DAYS AND HABITS */
.rowWrapper {
	display: grid;
	grid-template-columns: 180px 1fr;
	gap: 20px;
}
.monthlyWrapper {
	display: grid;
	gap: 20px;
	grid-template-columns: 130px 1fr;
}
.contentContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
	gap: 20px;
}
.monthlyContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
	gap: 5px;
}
.contentContainer h6 {
	color: #7e7e7e;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	margin: 0;
}
.monthlyContainer h6 {
	color: #7e7e7e;
	font-size: 12px;
	font-weight: 400;
	text-align: center;
	margin: 0;
}

.dayWrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;

	gap: 5px;
	width: 100%;
	height: 100%;
}
.dayTitle {
	display: none;
}

/* ICON AND TITLE */
.rowTitleContainer {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.rowTitle {
	display: flex;
	align-items: center;
	gap: 10px;
	width: 100%;
	
	padding: 0 10px 0 0;
	border-radius: 7px;
	cursor: pointer;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.iconContainer {
	min-width: 15px;
	border-radius: 5px 0 0 5px;
}
#monthlyIcon {
	min-height: 30px;
}
#weeklyIcon {
	min-height: 40px;
}
.rowTitle h2 {
	display: block; 
	overflow: hidden;

	margin: 0;
	color: rgb(78, 78, 78);
	font-size: 16px;
	font-weight: 500;
  text-transform: capitalize;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#monthlyTitle h2 {
	font-size: 12px;
}

@media only screen and (max-width: 1080px) {
	.rowTitleContainer {
		padding-top: 20px;
	}
	#mainWeekTitle {
		display: none;
	}
	.dayTitle {
		display: flex;
	}
}
@media only screen and (max-width: 580px) {
	.contentContainer {
		gap: 10px;
		grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
	}
	.rowTitleContainer {
		padding-top: 20px;
	}
	#mainWeekTitle {
		display: none;
	}
	.dayTitle {
		display: flex;
	}
}

@media only screen and (max-width: 450px) {
	.rowWrapper {
		grid-template-columns: 1fr;
		gap: 15px;
		padding: 20px 0;
	}
	.monthlyWrapper {
		grid-template-columns: 1fr;
		gap: 15px;
		padding: 20px 0;
	}
	.pageWrapper {
		margin-top: 20px;
	}
}