.pageWrapper {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;
}
.pageContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;

	height: 100%;
	width: 100%;
	max-width: 1080px;
}

.logoContainer{
	display: flex;
	justify-content: center;

	width: 50px;
	cursor: pointer;
}

/* Login Form */
	.formWrapper {
		width: 100%;
		max-width: 400px;
		height: 100%;
		min-height: 300px;
		max-height: 395px;
		padding: 20px;

		background: #fff;
		box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
		border-radius: 15px;
	}
	.formContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;

		gap: 20px;
		transition: .3s;
	}
	.formContainer h2 {
		margin: 0 0 10px 0;
		font-weight: 600;
		font-size: 24px;
		letter-spacing: -0.05rem;
	}

	.changeFormBtn {
		display: flex;
		align-items: center;
		gap: 5px;

		color: #62A1FF;
		cursor: pointer;
	}
	.changeFormBtn > svg {
		height: 12px;
		width: 12px;

		transition: all .3s;
	}
	.changeFormBtn > svg > path{
		
		fill: #0066ff !important;
	}
	.changeFormBtn:hover > svg {
		transform: translate(6px, 0px);
		height: 14px;
		width: 14px;
	}

/* Loader */
.loadingWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}