.pageWrapper {
	display: flex;
	justify-content: center;

	width: 100%;
	height: 100%;
}
.pageContainer {
	display: flex;
	flex-direction: column;
	
	width: 100%;
	height: 100%;

	padding: 55px 0 0 0;
}

.contentContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}