.btn {
	background: #62A1FF;
	padding: 14px;
	width: 100%;
	
	color: #fff;
	font-size: 16px;

	border: none;
	border-radius: 10px;

	cursor: pointer;
	transition: .3s;
}
.btn:hover {
	transform: translate(-4px, -4px);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}