.wrapper {
	display: flex;
	align-items: center;
	gap: 10px;

	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
	color: #fff;
}
.wrapper div {
	padding: 10px;
	border-radius: 7px;
	
	transition: .3s;
	cursor: pointer;
}
.wrapper div:hover {
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
	transform: translate(-2px, -2px);
}

.container {
	background-color: rgba(255, 255, 255);
	color: rgb(104, 104, 104);
}