.pageWrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;

	margin-top: 50px;
}

.rowWrapper {
	display: grid;
	grid-template-columns: 180px 1fr;
	gap: 20px;
}
.contentContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
	gap: 20px;
}

/* DAYS AND HABITS */
.contentContainer h6 {
	color: #4d4d4d;
	font-size: 12px;
	font-weight: 400;
	text-align: center;
	margin: 0;
}

.dayWrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	gap: 5px;
	width: 100%;
	height: 100%;
}
.dayTitle {
	display: none;
}

/* ICON AND TITLE */
.rowTitleContainer {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;

}
.rowTitle {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 15px;

	border-radius: 10px;
	transition: .3s;
	cursor: pointer;
}
.rowTitle:hover {
	padding: 10px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.rowTitle h2 {
	display: block; 
	overflow: hidden;

	margin: 0;
	font-size: 20px;
	font-weight: 500;
  text-transform: capitalize;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.iconContainer {
	display: flex;
	justify-content: center;
	align-items: center;

	min-width: 40px;
	min-height: 40px;
	max-width: 50px;
	max-height: 50px;
	width: auto;

	border-radius: 10px;
}

@media only screen and (max-width: 1080px) {
	#mainWeekTitle {
		display: none;
	}
	.dayTitle {
		display: flex;
	}
}