.wrapper {
	display: flex;
	justify-content: center;

	width: 100%;
	padding: 20px 0;
	background: linear-gradient(337deg,#914cff,#00d4ff);
}
.container {
	display: flex;
	align-items: center;
	justify-content: space-between;

	max-width: 1080px;
	width: 100%;
	padding: 0 20px;
}
.container > div {
	display: flex;
	width: 100%;
	gap: 20px;
}
.container > button {
	width: auto !important;
	min-width: 120px;
	background: rgba(255, 255, 255, 0.2) !important;
	box-shadow: 0px 2px 5px rgb(0 0 0 / 25%);
	color: #fff;
}
.container > button > svg {
	stroke: #fff;
}

.arrowBtnContainer {
	display: flex;
	align-items: center;
	gap: 10px;
}

.arrowBtnContainer button {
	background: rgba(255, 255, 255, 0.2) !important;
	box-shadow: 0px 2px 5px rgb(0 0 0 / 25%);
}
.arrowBtnContainer svg {
	fill: #fff;
}

.dateContainer {
	display: flex;
	align-items: center;
	font-weight: 600;
	font-size: 36px;
	color: #fff;
}
.dateContainerSmall {
	display: none;
	font-weight: 600;
	font-size: 36px;
	color: #fff;
}

@media only screen and (max-width: 640px) {
	.dateContainer { 
		font-size: 24px;
		font-weight: 600;
	}
	.container {
		gap: 20px;
	}
	.container > button {
		padding: 10px;
		font-size: 14px;
	}
}
@media only screen and (max-width: 440px) {
	.dateContainer { 
		display: none;
	}
	.dateContainerSmall {
		display: flex;
		align-items: center;
		justify-content: center;

		text-align: center;
		font-size: 24px;
	}
	.container {
		gap: 20px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.container > button {
		min-width: 50px;
		padding: 10px;
		font-size: 14px;
	}
	.container >div {
		justify-content: center;
	}
	.arrowBtnContainer {
		gap: 20px;
	}
}