.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 15px;

	height: auto;
}
.titleWrapper {
	display: flex;
	align-items: center;
	gap: 15px;
}
.colorContainer {
	background: #ffffff;
	width: 40px;
	height: 40px;
	
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	cursor: pointer;
}
.colorPickerWrapper {
	width: 100%;
	height: 100%;
	padding: 10px;


	display: flex;
	gap: 10px;
	
	background-color: #ffffff;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
}