.inputWrapper{
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.inputWrapper h3{
	margin: 0;
	font-size: 16px;
	font-weight: 400;
}

.inputWrapper input {
	font-size: 16px;
	padding: 10px;

	border-radius: 10px;
	border: none;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
	transition: .3s;
}
.inputWrapper input:focus {
	outline: none !important;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}